on init
    # Create bootdevice symlink
    symlink /dev/block/platform/sdhci-pxav3.2 /dev/block/bootdevice
    # Set touchscreen to landscape mode for recovery
    write /sys/devices/virtual/sec/tsp/orientation 6
